<%= form_with(model: user_fund_project, local: true) do |form| %>
  <% if user_fund_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_fund_project.errors.count, "error") %> prohibited this user_fund_project from being saved:</h2>

      <ul>
      <% user_fund_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :user_fund_project_type %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user, id: :user_fund_project_user %>
  </div>

  <div class="field">
    <%= form.label :proyect %>
    <%= form.number_field :proyect, id: :user_fund_project_proyect %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
