
<style>
  p {
    text-align: left;
    text-color: white;
    font-size: medium;

  }

  td {
    align-content: right;
    font-size: medium;
  }

   .div-wrapper {
     position: center;
     height: 300px;
     width: 300px;


   }
</style>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class = "div-wrapper">
<td>Projects Funded</td>


<% @user_fund_projects.each do |user_fund_projects| %>
  <% if user_fund_projects.user_id == current_user.id %>
    <% @proyects.each do |proyect| %>
      <% if proyect.id == user_fund_projects.proyect_id %>
        <td><%= proyect.name %></td>
        <td><%= proyect.user_id %></td>

    <%end %>
  <% end %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to 'Projects by user', user_proyects_path(@user) %>



<%= image_tag @user.avatar.url %>

</div>
