<html>


<style>
  p {
    text-align: left;
    text-color: white;

  }

  h3 {
    text-align: right;
    text-color: pink;

  }

  td {
    align-content: right;
  }

  .div-wrapper {
    position: center;
    height: 300px;
    width: 300px;

  }
</style>

<table class="table">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Biography</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td> <% if not @user.biography.nil? %>
          <%= raw Markdown.new(@user.biography).to_html %>
        <%end%></td>
    </tr>
  </tbody>
</table>

<td><%= image_tag @user.avatar.url %></td>


<div class = "div-wrapper">


<% @user_fund_projects.each do |user_fund_projects| %>
  <% if user_fund_projects.user_id == current_user.id %>
    <% @proyects.each do |proyect| %>
      <% if proyect.id == user_fund_projects.proyect_id %>
        <td><%= proyect.name %></td>
        <td><%= proyect.user_id %></td>

    <%end %>
  <% end %>
<% end %>
<% end %>
<br>
<br>
  <h6> <%= link_to 'Edit', edit_user_path(@user) %> </h6>
  <h6> <%= link_to 'Back', users_path %> </h6>

  <h6> <%= link_to 'Projects by user', user_proyects_path(@user) %> </h6>





</div>
