<p id="notice"><%= notice %></p>

<style>
  p {
    text-align: left;
    text-color: white;

  }

</style>

<p>
  <strong>Type:</strong>
  <%= @user_role.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_role.user_id %>
</p>

<%= link_to 'Edit', edit_user_role_path(@user_role) %> |
<%= link_to 'Back', user_roles_path %>
