<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @use_role.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @use_role.user %>
</p>

<%= link_to 'Edit', edit_use_role_path(@use_role) %> |
<%= link_to 'Back', use_roles_path %>
