<p id="notice"><%= notice %></p>

<h1>Admins Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_projects.each do |admins_project| %>
      <tr>
        <td><%= link_to 'Show', admins_project %></td>
        <td><%= link_to 'Edit', edit_admins_project_path(admins_project) %></td>
        <td><%= link_to 'Destroy', admins_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admins Project', new_admins_project_path %>
