<%= form_with(model: user_project, local: true) do |form| %>
  <% if user_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_project.errors.count, "error") %> prohibited this user_project from being saved:</h2>

      <ul>
      <% user_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :user_project_start_date %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.datetime_select :finish_date, id: :user_project_finish_date %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_project_name %>
  </div>

  <div class="field">
    <%= form.label :favorite %>
    <%= form.text_field :favorite, id: :user_project_favorite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
