<%= form_with(model: proyect, local: true) do |form| %>
  <% if proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :proyect_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :proyect_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <style>

    a {color: white;}

  </style>

  <a>Choose an image for your project</a>

  <%= form_for (@proyect), html: { multipart: true } do |f| %>
    <p>
      <%= f.file_field :photo %>
    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>

<% end %>
