<html>


<style>
  p {
    text-align: left;
    text-color: white;

  }

  h3 {
    text-align: right;
    text-color: pink;

  }

  td {
    align-content: right;
  }

  .div-wrapper {
    position: center;
    height: 300px;
    width: 300px;

  }
</style>

<div class="container-fluid" style="width: 100% ;display:table;">
  <div  style="display:table-cell;  ">
<p>
  <h1> <%= @proyect.name.capitalize %> </h1>
</p>

<p>
  <strong>By User:</strong>
  <%= @proyect.user_id %>
</p>

<div class = "div-wrapper">
<%- if user_signed_in?  and current_user.admin == true %>


  <%= image_tag @proyect.avatar.url(:medium) %>
    <%= link_to 'Edit', edit_proyect_path(@proyect) %> |
    <%= link_to 'Back', proyects_path %>
    <%= link_to 'promises', proyect_promises_path(@proyect) %>

<%- else if user_signed_in?  %>

  <%- if @proyect.user_id == current_user.id %>


    <%= image_tag @proyect.avatar.url(:medium) %>

  <%else%>

    <%= image_tag @proyect.avatar.url(:medium) %>
    <%= link_to 'promises', proyect_promises_path(@proyect) %>

  <%end%>

<%else%>
</div>


  <%= image_tag @proyect.avatar.url(:medium) %>
  <%= link_to 'promises', proyect_promises_path(@proyect) %>


<%end%>
<%end%>
  </div>
  <div  style="display:table-cell;">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="w3-container">

  <h2>Fund Project</h2>



  <%- if @proyect.preamount == nil %>
      <% @proyect.update_attribute(:preamount, 0) %>
  <% end %>
  <%- if @proyect.amount == nil %>
      <% @proyect.update_attribute(:amount, 0) %>
  <% end %>
  <%- if @proyect.fixedamount == nil %>
    <% @proyect.update_attribute(:fixedamount, @proyect.amount) %>
  <% end %>

  <%- if (@proyect.amount - @proyect.preamount) >= 0 %>
    <% @proyect.update_attribute(:amount, @proyect.amount - @proyect.preamount) %>
    <% @proyect.update_attribute(:preamount, 0 ) %>
  <%- elsif (@proyect.amount == 0) and (@proyect.preamount != 0) %>
    <script> alert('Sorry! it looks like the project is fully funded'); </script>
  <% else %>
    <script> alert('Sorry! it looks like you are trying to fund more than its needed'); </script>
  <% end %>


  <h5> Goal: <%= @proyect.fixedamount  %>$ </h5>

  <h5> Amount To Go: <%= @proyect.amount  %>$ </h5>



  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="prg" role="progressbar"
         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">

    </div>
  </div>

  <script>
      function porcentaje(fixed,numero)
      {return (numero*100)/fixed;}
      document.getElementById("prg").style = "width:" + porcentaje(<%= @proyect.fixedamount %>, <%= @proyect.fixedamount %> - <%= @proyect.amount %>) + "%";
      document.getElementById("prg").innerHTML =  Math.round(porcentaje(<%= @proyect.fixedamount %>, <%= @proyect.fixedamount %> - <%= @proyect.amount %>)) + "% Funded";
  </script>

  <%= form_for @proyect do |f| %>
    <%= f.number_field :preamount, :value => 0 %>
    <%= f.submit "FUND" %>
  <% end %>


</div>
</body>
  </div>
</div>



</html>