<html>

<p id="notice"><%= notice %></p>


<style>
  p {
    text-align: left;
    text-color: white;

  }

  td {
    align-content: right;
  }

  .div-wrapper {
    position: center;
    height: 300px;
    width: 300px;

  }
</style>

<p>
  <strong>Name:</strong>
  <%= @proyect.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @proyect.user_id %>
</p>

<div class = "div-wrapper">
<%- if user_signed_in?  and current_user.admin == true %>

  <%= link_to 'Edit', edit_proyect_path(@proyect) %> |
  <%= link_to 'Back', proyects_path %>
  <%= link_to 'promises', proyect_promises_path(@proyect) %>
  <%= image_tag @proyect.avatar.url(:medium) %>

<%- else if user_signed_in?  %>

  <%- if @proyect.user_id == current_user.id %>

    <%= link_to 'Edit', edit_proyect_path(@proyect) %> |
    <%= link_to 'Back', proyects_path %>
    <%= link_to 'promises', proyect_promises_path(@proyect) %>
    <%= image_tag @proyect.avatar.url(:medium) %>

  <%else%>

    <%= image_tag @proyect.avatar.url(:medium) %>
    <%= link_to 'promises', proyect_promises_path(@proyect) %>

  <%end%>

<%else%>


  <%= image_tag @proyect.avatar.url(:medium) %>
  <%= link_to 'promises', proyect_promises_path(@proyect) %>


<%end%>
<%end%>

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">

  <h2>Fund proyect</h2>

  <div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green w3-center" style="width:20%">20%</div>
  </div>
  <br>
  <button class="w3-button w3-green" onclick="move()">FUND Me</button>

</div>

<script>
    function move() {
        var elem = document.getElementById("myBar");
        var width = 20;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
                elem.innerHTML = width * 1  + '%';
            }
        }
    }
</script>

</body>


</div>

</html>