<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @fund_type.type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @fund_type.amount %>
</p>

<p>
  <strong>Username:</strong>
  <%= @fund_type.username %>
</p>

<%= link_to 'Edit', edit_fund_type_path(@fund_type) %> |
<%= link_to 'Back', fund_types_path %>
