<div id = "notice" class="alert alert-success" role="alert"><%= notice %></div>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
  <%= link_to 'proyectos', category_proyects_path(@category) %>

