<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <title>RJ Crowdfunding</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  <style>

    body {background-color: #5a6268;}

    p{ text-align: center;}

    a{ text-align: center;}

    img{ border: 20px solid black;}

    .navbar-default{
      background-color: white;
      border: none;
      }

    .search-box{
      position: absolute;
      top: 8%;
      left: 90%;
      transform: translate(-90%,-10%);
      background: white;
      height: 40px;
      border-radius: 40px;
      padding: 10px;}

    .search-box:hover > .search-txt{
      width: 240px;
      padding: 0 6px;
    }

    .search-box:hover > .search-btn{
      background: grey;
    }

    .search-btn{
      position: absolute;
      top: 15%;
      left: 90%;
      color: white;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;}

    .search-txt{
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: black;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;}

  </style>

  <!-- Navigation -->

  <%- if user_signed_in?  and current_user.admin == true %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">RJ CrowdFunding</a>
        </div>
        <ul class="nav navbar-nav">

          <li><a class="button" href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href="/categories">Categories</a></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><a class="nav-link" href="/wishlists">Wishlist</a></li>
          <li><a class="nav-link" href="/proyects/new">New Project</a></li>
          <li><a class="nav-link" href="/proyects">All Projects</a></li>
          <li><a class="nav-link" href="/categories">Edit Categories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class = "search-box">
            <input class="search-txt" type="text"  name="" placeholder="Type to search">
            <a class="search-btn" href="/proyects">
            <i class="fas fa-search"></i>
            </a>
          </div>
          <li><a class="nav-link" href="/users/sign_out">Log Out</a></li>
        </ul>
      </div>
    </nav>

  <%- else if user_signed_in?  and current_user.admin != false  %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">RJ CrowdFunding</a>
        </div>
        <ul class="nav navbar-nav">

          <li><a class="button" href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href="/categories">Categories</a></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><a class="nav-link" href="/wishlists">Wishlist</a></li>
          <li><a class="nav-link" href="/proyects/new">New Project</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class = "search-box">
            <input class="search-txt" type="text"  name="" placeholder="Type to search">
            <a class="search-btn" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
          <li><a class="nav-link" href="/users/sign_out">Log Out</a></li>
        </ul>
      </div>
    </nav>

  <%else%>

    <nav class = "navbar navbar-default" >
      <div class ="container-fluid">
        <div class = "navbar-header" >
          <a class = "navbar-brand" href = "/" > RJ CrowdFunding </a>
        </div >
        <ul class = "nav navbar-nav" >

          <li><a class = "nav-link" href = "/" > Home <span class = "sr-only" > (current) </span></a> </li>
          <li><a class="nav-link" href="/categories">Categories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class = "search-box">
            <input class="search-txt" type="text"  name="" placeholder="Type to search">
            <a class="search-btn" href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
          <li><a class="nav-link" href="/users/sign_in">Log In</a></li>
          <li><a class="nav-link" href="/users/sign_up">Sign Up</a></li>
        </ul>
      </div>
    </nav>

  <%end%>
  <%end%>

</head>

  <body>

  <%= yield %>



  </body>
</html>
