
<p>
  <strong>Proyect:</strong>
  <%= @promise.proyect_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @promise.tipo %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @promise.amount %>
</p>

<p>
  <strong>Include:</strong>
  <%= @promise.include %>
</p>

<%- if user_signed_in?  %>

  <%- if @proyect.user_id == current_user.id %>

  <%= link_to 'Edit', edit_promise_path(@promise) %> |
  <%= link_to 'Back', promises_path %>

  <%end%>
<%end%>